.floating-whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:#25D366;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    text-decoration:none;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
    z-index:999;
}